
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" @onclick="Toggle0">
                    <b>@CardHeader0</b>
                </button>
            </h2>
        </div>
        @if (Show0)
         {
             <div id="collapseOne">
                <div class="card-body">
                    @CardBody0
                </div>
             </div>
         }
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" @onclick="Toggle1">
                    <b>@CardHeader1</b>
                </button>
            </h2>
        </div>
        @if (Show1)
        {
            <div id="collapseTwo">
                <div class="card-body">
                    @CardBody1
                </div>
            </div>
        }
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" @onclick="Toggle2">
                    <b>@CardHeader2</b>
                </button>
            </h2>
        </div>
        @if (Show2)
        {
            <div id="collapseThree">
                <div class="card-body">
                    @CardBody2
                </div>
            </div>
        }
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" @onclick="Toggle3">
                    <b>@CardHeader3</b>
                </button>
            </h2>
        </div>
        @if (Show3)
        {
            <div id="collapseFour">
                <div class="card-body">
                    @CardBody3
                </div>
            </div>
        }
    </div>
    <div class="card">
        <div class="card-header" id="headingFive">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" @onclick="Toggle4">
                    <b>@CardHeader4</b>
                </button>
            </h2>
        </div>
        @if (Show4)
        {
            <div id="collapseFive">
                <div class="card-body">
                    @CardBody4
                </div>
            </div>
        }
    </div>
    <div class="card">
        <div class="card-header" id="headingSix">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" @onclick="Toggle5">
                    <b>@CardHeader5</b>
                </button>
            </h2>
        </div>
        @if (Show5)
        {
            <div id="collapseSix">
                <div class="card-body">
                    @CardBody5
                </div>
            </div>
        }
    </div>
    <div class="card">
        <div class="card-header" id="headingSeven">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" @onclick="Toggle6">
                    <b>@CardHeader6</b>
                </button>
            </h2>
        </div>
        @if (Show6)
        {
            <div id="collapseSeven">
                <div class="card-body">
                    @CardBody6
                </div>
            </div>
        }
    </div>
    <div class="card">
        <div class="card-header" id="headingEight">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" @onclick="Toggle7">
                    <b>@CardHeader7</b>
                </button>
            </h2>
        </div>
        @if (Show7)
        {
            <div id="collapseEight">
                <div class="card-body">
                    @CardBody7
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public RenderFragment CardBody0 { get; set; }
    [Parameter] public RenderFragment CardHeader0 { get; set; }
    [Parameter] public RenderFragment CardBody1 { get; set; }
    [Parameter] public RenderFragment CardHeader1 { get; set; }
    [Parameter] public RenderFragment CardBody2 { get; set; }
    [Parameter] public RenderFragment CardHeader2 { get; set; }
    [Parameter] public RenderFragment CardBody3 { get; set; }
    [Parameter] public RenderFragment CardHeader3 { get; set; }
    [Parameter] public RenderFragment CardBody4 { get; set; }
    [Parameter] public RenderFragment CardHeader4 { get; set; }
    [Parameter] public RenderFragment CardBody5 { get; set; }
    [Parameter] public RenderFragment CardHeader5 { get; set; }
    [Parameter] public RenderFragment CardBody6 { get; set; }
    [Parameter] public RenderFragment CardHeader6 { get; set; }
    [Parameter] public RenderFragment CardBody7 { get; set; }
    [Parameter] public RenderFragment CardHeader7 { get; set; }

    [Parameter] public bool Show0 { get; set; } = false;
    [Parameter] public bool Show1 { get; set; } = false;
    [Parameter] public bool Show2 { get; set; } = false;
    [Parameter] public bool Show3 { get; set; } = false;
    [Parameter] public bool Show4 { get; set; } = false;
    [Parameter] public bool Show5 { get; set; } = false;
    [Parameter] public bool Show6 { get; set; } = false;
    [Parameter] public bool Show7 { get; set; } = false;


    public void Toggle0()
    {
        Show0 = !Show0;
    }
    public void Toggle1()
    {
        Show1 = !Show1;
    }
    public void Toggle2()
    {
        Show2 = !Show2;
    }
    public void Toggle3()
    {
        Show3 = !Show3;
    }
    public void Toggle4()
    {
        Show4 = !Show4;
    }
    public void Toggle5()
    {
        Show5 = !Show5;
    }
    public void Toggle6()
    {
        Show6 = !Show6;
    }
    public void Toggle7()
    {
        Show7 = !Show7;
    }
}
